SpiraTestNUnitAddIn/Web References/SpiraTestExecute/TestExecute.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:i0="http://www.inflectra.com/SpiraTest/DataSets/TestRunDataSet.xsd" xmlns:tns="http://www.inflectra.com/SpiraTest/Services/v1.2.0/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.inflectra.com/SpiraTest/Services/v1.2.0/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.inflectra.com/SpiraTest/DataSets/TestRunDataSet.xsd" location="http://localhost/SpiraTest/Services/TestExecute.asmx?schema=TestRunData" />
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.inflectra.com/SpiraTest/Services/v1.2.0/">
      <s:import namespace="http://www.inflectra.com/SpiraTest/DataSets/TestRunDataSet.xsd" />
      <s:element name="ConnectToProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConnectToProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConnectToProjectResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveTestRunById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="testRunId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveTestRunByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveTestRunByIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://www.inflectra.com/SpiraTest/DataSets/TestRunDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecordTestRun2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="testerUserId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="testCaseId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="releaseId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="executionStatusId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="runnerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="runnerTestName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="runnerAssertCount" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="runnerMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="runnerStackTrace" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecordTestRun2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RecordTestRun2Result" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecordTestRun">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="testerUserId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="testCaseId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="releaseId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="executionStatusId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="runnerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="runnerTestName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="runnerAssertCount" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="runnerMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="runnerStackTrace" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecordTestRunResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RecordTestRunResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Authenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuthenticateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Disconnect">
        <s:complexType />
      </s:element>
      <s:element name="DisconnectResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConnectToProjectSoapIn">
    <wsdl:part name="parameters" element="tns:ConnectToProject" />
  </wsdl:message>
  <wsdl:message name="ConnectToProjectSoapOut">
    <wsdl:part name="parameters" element="tns:ConnectToProjectResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveTestRunByIdSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveTestRunById" />
  </wsdl:message>
  <wsdl:message name="RetrieveTestRunByIdSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveTestRunByIdResponse" />
  </wsdl:message>
  <wsdl:message name="RecordTestRun2SoapIn">
    <wsdl:part name="parameters" element="tns:RecordTestRun2" />
  </wsdl:message>
  <wsdl:message name="RecordTestRun2SoapOut">
    <wsdl:part name="parameters" element="tns:RecordTestRun2Response" />
  </wsdl:message>
  <wsdl:message name="RecordTestRunSoapIn">
    <wsdl:part name="parameters" element="tns:RecordTestRun" />
  </wsdl:message>
  <wsdl:message name="RecordTestRunSoapOut">
    <wsdl:part name="parameters" element="tns:RecordTestRunResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapIn">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="DisconnectSoapIn">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="DisconnectSoapOut">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:portType name="TestExecuteSoap">
    <wsdl:operation name="ConnectToProject">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Connects to a project, needed before calling the Execute to ensure has sufficient permissions</documentation>
      <wsdl:input message="tns:ConnectToProjectSoapIn" />
      <wsdl:output message="tns:ConnectToProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveTestRunById">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Retrieves a single test run in the system that has a certain ID together with all its associated test run steps</documentation>
      <wsdl:input message="tns:RetrieveTestRunByIdSoapIn" />
      <wsdl:output message="tns:RetrieveTestRunByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecordTestRun2">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Records the results of executing an automated test, use this version when client cannot handle session cookies</documentation>
      <wsdl:input message="tns:RecordTestRun2SoapIn" />
      <wsdl:output message="tns:RecordTestRun2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecordTestRun">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Records the results of executing an automated test</documentation>
      <wsdl:input message="tns:RecordTestRunSoapIn" />
      <wsdl:output message="tns:RecordTestRunSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Authenticates against the server. Need to call before using other methods</documentation>
      <wsdl:input message="tns:AuthenticateSoapIn" />
      <wsdl:output message="tns:AuthenticateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Disconnects the currenly authenticated / authorized user</documentation>
      <wsdl:input message="tns:DisconnectSoapIn" />
      <wsdl:output message="tns:DisconnectSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestExecuteSoap" type="tns:TestExecuteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="ConnectToProject">
      <soap:operation soapAction="http://www.inflectra.com/SpiraTest/Services/v1.2.0/ConnectToProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveTestRunById">
      <soap:operation soapAction="http://www.inflectra.com/SpiraTest/Services/v1.2.0/RetrieveTestRunById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordTestRun2">
      <soap:operation soapAction="http://www.inflectra.com/SpiraTest/Services/v1.2.0/RecordTestRun2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordTestRun">
      <soap:operation soapAction="http://www.inflectra.com/SpiraTest/Services/v1.2.0/RecordTestRun" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://www.inflectra.com/SpiraTest/Services/v1.2.0/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap:operation soapAction="http://www.inflectra.com/SpiraTest/Services/v1.2.0/Disconnect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestExecute">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This class provides the functionality for executing a test case from an external application and having the test results populate SpiraTest.</documentation>
    <wsdl:port name="TestExecuteSoap" binding="tns:TestExecuteSoap">
      <soap:address location="http://localhost/SpiraTest/Services/TestExecute.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>